# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/

# Pytest / coverage
.pytest_cache/
htmlcov/
.coverage

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# IDE
# ===============================
.idea/
.vscode/

# ===============================
# Node (если фронт)
# ===============================
node_modules/

# ===============================
# Vercel
# ===============================
.vercel/

# ===============================
# Cloudflare (если больше не используешь)
# ===============================
.wrangler/

# ===============================
# Alembic cache
# ===============================
alembic/__pycache__/
